.button {
    background-color: purple;
    border: none;
    color: white;
    text-align: center;
    padding: 14px, 24px;
}

main {
    margin-left: 100px;
    margin-top: 20px;
    border: 5px;
    background-color: turquoise;
    color: tomato;
    text-align: center;
}

ul {
    text-align: center;
}

.h1 {
    text-align: center;
    text-decoration: black;

}