.container {
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
}
.Timer {
    text-align: right;

}
header {
    background-color: lavender;
    height: 50px;
    padding: 10px;
    border: 2px solid black;
}

main {
    background-color: whitesmoke;
    width: 80%;
    height: 400px;
    padding: 10 px;
    border: 2px solid black;
    margin-left: 100px
}



